body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
    font-size: 24px;
    border-bottom: 2px solid #3498db;
    display: inline-block;
    padding-bottom: 10px;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-image: url("media/geo.jpg");
}
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px; /* Adjust the width of your logo */
    height: auto;
}
/*table Styles*/
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

td {
    padding: 10px;
    vertical-align: top;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #34495e;
}

/* Form Element Styles */
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

.submit {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #2980b9;
}
/* Specific Styles for Internet Speed */
#InternetSpeed {
    width: auto;
}

/* Skills Section Styles */
#skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#skills label {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
}

.terms-policy {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.terms-policy label a {
    color: #3498db;
    text-decoration: none;
}

.terms-policy label a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #7f8c8d;
}
/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    
    table, tr, td {
        display: block;
        width: 100%;
    }
    
    td {
        padding: 10px 0;
    }
}